@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1588747806185'); /* IE9 */
  src: url('iconfont.eot?t=1588747806185#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2') format('woff2'),
  url('iconfont.woff?t=1588747806185') format('woff'),
  url('iconfont.ttf?t=1588747806185') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1588747806185#iconfont') format('svg'); /* iOS 4.1- */
}

[class^='el-icon-menus'],[class*="el-icon-menus"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-menusshouye:before {
  content: "\e624";
}

.el-icon-menuswenjian:before {
  content: "\e6f2";
}

.el-icon-menuscase_wenjian:before {
  content: "\e616";
}

.el-icon-menuswenjianguanbi:before {
  content: "\e7ac";
}

.el-icon-menuswenjian-dakai:before {
  content: "\e62d";
}

.el-icon-menusjian1:before {
  content: "\e64c";
}

.el-icon-menusexpand:before {
  content: "\e61a";
}

.el-icon-menusyunhang:before {
  content: "\e634";
}

.el-icon-menuspeizhi:before {
  content: "\e64d";
}

.el-icon-menusmokuai:before {
  content: "\e603";
}

.el-icon-menusjiqun:before {
  content: "\e604";
}

.el-icon-menuslianlutu:before {
  content: "\e640";
}

.el-icon-menusxitongguanli:before {
  content: "\e605";
}

.el-icon-menusyingyong1:before {
  content: "\e619";
}

.el-icon-menusmulti-cluster:before {
  content: "\e607";
}

.el-icon-menusfuwutiaoyong:before {
  content: "\e6e4";
}

.el-icon-menusshujumoxing-:before {
  content: "\e629";
}

.el-icon-menuszidian:before {
  content: "\e611";
}

.el-icon-menuskaifa:before {
  content: "\e614";
}

.el-icon-menushuanjing:before {
  content: "\e66b";
}

.el-icon-menusliuchengfaqizhong:before {
  content: "\e615";
}

.el-icon-menusfuwu:before {
  content: "\e600";
}

.el-icon-menusicon12:before {
  content: "\e65e";
}

.el-icon-menusjichucanshushezhi01:before {
  content: "\e633";
}

.el-icon-menusjihuarenwu:before {
  content: "\e601";
}

.el-icon-menuscanshu:before {
  content: "\e609";
}

.el-icon-menusxiaofei:before {
  content: "\e6a4";
}

.el-icon-menusliuliang:before {
  content: "\e93b";
}

.el-icon-menusjiqi:before {
  content: "\e613";
}

.el-icon-menusxiaoxi:before {
  content: "\e60a";
}

.el-icon-menusshili:before {
  content: "\e99b";
}

.el-icon-menuszuhu:before {
  content: "\e6d9";
}

.el-icon-menusrenwu:before {
  content: "\e66c";
}

.el-icon-menusdabao:before {
  content: "\e649";
}

.el-icon-menusguize:before {
  content: "\e696";
}

.el-icon-menuskongzhitai:before {
  content: "\e646";
}

.el-icon-menusProgrammablejob:before {
  content: "\e6df";
}

.el-icon-menusweihu:before {
  content: "\e610";
}

.el-icon-menusgroup:before {
  content: "\e602";
}

.el-icon-menusmachine:before {
  content: "\e7cf";
}

.el-icon-menusbianjiedit26:before {
  content: "\e655";
}

.el-icon-menustishi1:before {
  content: "\e68e";
}

.el-icon-menustishi:before {
  content: "\e6db";
}

.el-icon-menustianjia1:before {
  content: "\e606";
}

.el-icon-menustianjia:before {
  content: "\e60b";
}

.el-icon-menus53:before {
  content: "\e641";
}

.el-icon-menusjian:before {
  content: "\e612";
}

.el-icon-menusshanchu:before {
  content: "\e630";
}

.el-icon-menustianjia-:before {
  content: "\e62b";
}

.el-icon-menussuoxiao:before {
  content: "\e60e";
}

.el-icon-menusziyuanldpi:before {
  content: "\e60f";
}

.el-icon-menuszuojiantou:before {
  content: "\e621";
}

.el-icon-menusguanbi:before {
  content: "\e608";
}

.el-icon-menusshuji2:before {
  content: "\e816";
}

.el-icon-menusrenyuan-shi:before {
  content: "\e670";
}

.el-icon-menusjiantouarrow486:before {
  content: "\e6aa";
}

.el-icon-menusjiantou:before {
  content: "\e60d";
}

.el-icon-menusiconfontjiantou:before {
  content: "\e638";
}

.el-icon-menusshezhi:before {
  content: "\e751";
}

.el-icon-menusshezhi1:before {
  content: "\e622";
}

.el-icon-menusyibiaopan:before {
  content: "\e669";
}

.el-icon-menusgongzuotai:before {
  content: "\e62c";
}

.el-icon-menusyingyong:before {
  content: "\e699";
}

.el-icon-menusyingyongguanlizu:before {
  content: "\e69a";
}

.el-icon-menusyibiaopan1:before {
  content: "\e834";
}

.el-icon-menusziyuan:before {
  content: "\e642";
}

.el-icon-menusyingyonglingyu:before {
  content: "\e60c";
}

.el-icon-menusicon:before {
  content: "\e623";
}

.el-icon-menusbiyanjing:before {
  content: "\e901";
}

